<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category %></p>
        </ul>
        <%# <div class="text-center mt-3"> %>
          <%= link_to 'Back to the index', '/restaurants', class: "btn btn-primary" %>
          <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
        <%# </div> %>
        <ul>
          <% @restaurant.reviews.each do |review| %>
            <li><%= review.rating %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
